body {
  background-image: url("./qbkls.png");
  font-family: Arial;
  padding: 20px;}



.menu {text-align: center;
background-color: red;
position: fixed;
margin: 0;
padding: 10px;
padding-right: 80px;
padding-left: 80px;
width: 80%;
display: flex;
justify-content: space-between;}

.menu a:link, .menu a:visited {font-size: 18px;
color: white;
text-decoration: none;}

.current-tab{text-transform: uppercase;}


.content {margin: 4em;}


.teaching-list {line-height: 28px;}


h1 {text-align: center;
    font-family: Georgia;}

h2 {font-style: italic;
    font-family: Georgia;}

h4 {margin-bottom: 0px;}

.nomargin {margin-top: 0px;
margin-bottom: 0px;}

.email {color: blueviolet;}

.date {color: gray;
font-style: italic;}

img {float: right;
height: 24em;
margin: 20px;}
